{{>head.mustache}}
{{>menu.mustache}}
<div class="container">
    <p>
        <span style="font-size: 3em; vertical-align: baseline; font-weight: bold;">I</span>n this, the dawn of a new generation, we look back at what has come before. 
        We wallow in its glory and recognizes its faults. We ponder and wonder 
        and with based in our past, we ready ourselves for a leap into the future - a leap into today.
    </p>
    <p>
        <span style="font-size: 3em; vertical-align: baseline; font-weight: bold;">W</span>e at Gabidexi are proud to announce the near availability of Project Hydra - a system that will not only 
        revolutionize what we percieve as an input unit, but will do it at a cost both performance and financial wise,
        that makes it an absolute nobrainer.
    </p>
</div>
{{>foot.mustache}}