{{>head.mustache}}
<div class="hidden-sm hidden-xs" style="background-image: url('static/gamestation.jpg'); background-position: center; background-size: 100% auto; height: 380px">
    <div style="line-height:380px ; vertical-align: middle;">
        <div class="text-center" style="color: white; display: inline-block; line-height: 1em; width: 100%; background-color: rgba(100,100,100,0.4)">
            <h2>Accessibility is key</h2>
            <p>Every game and idea should not be limited by access to peripherals - only imagination</p>
        </div>
    </div>
</div>
{{>menu.mustache}}
{{#correctWords}}
    {{.}}
{{/correctWords}}
{{>foot.mustache}}
