<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            {{#menu}}
            <li>
                <a href="{{url}}">
                    {{label}}
                </a>
            </li>
            {{/menu}}
        </ul>
    </div>
</nav>